
	body {
		font-family: Tahoma, serif;
	}

	h1 {
		text-align: center;
	}

	#center {
		width: 900px;
		margin: 0 auto;
		overflow: hidden;
	}

	.course_item {
		width: 260px;
		float: left;
		background: #424242;
		color: #fff;
		margin: 0 10px;
		padding: 10px ;
	}

	.course_item a {
		display: block;
		color: #424242;
		text-decoration: none;
		text-align: center;
		border: 1px solid #fff;
		padding: 10px 0;
		margin: 0 0 10px 0;
		background: #fff;
	}

	.course_item a:hover {
		background: transparent;
		color: #fff;
	}
